[submodule "dot-files/vim/bundle/fugitive"]
	path = dot-files/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dot-files/vim/bundle/PIV"]
	path = dot-files/vim/bundle/PIV
	url = git://github.com/spf13/PIV.git
[submodule "dot-files/vim/bundle/https:/github.com/vim-scripts/The-NERD-tree"]
	path = dot-files/vim/bundle/https:/github.com/vim-scripts/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "dot-files/vim/bundle/https:/github.com/Shougo/neocomplcache"]
	path = dot-files/vim/bundle/https:/github.com/Shougo/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot-files/vim/bundle/neocomplcache"]
	path = dot-files/vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot-files/vim/bundle/phpcomplete.vim"]
	path = dot-files/vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "dot-files/vim/bundle/The-NERD-tree"]
	path = dot-files/vim/bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "dot-files/vim/bundle/nerdtree"]
	path = dot-files/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dot-files/vim/bundle/minibufexpl.vim"]
	path = dot-files/vim/bundle/minibufexpl.vim
	url = git://github.com/vim-scripts/minibufexpl.vim.git
[submodule "dot-files/vim/bundle/jsbeautify"]
	path = dot-files/vim/bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
[submodule "dot-files/vim/bundle/SearchComplete"]
	path = dot-files/vim/bundle/SearchComplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "dot-files/vim/bundle/Source-Explorer-srcexpl.vim"]
	path = dot-files/vim/bundle/Source-Explorer-srcexpl.vim
	url = git://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
[submodule "dot-files/vim/bundle/tagbar"]
	path = dot-files/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "dot-files/vim/bundle/supertab"]
	path = dot-files/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "dot-files/vim/bundle/vim-pathogen"]
	path = dot-files/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "dot-files/vim/bundle/vcscommand"]
	path = dot-files/vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
