[submodule "dot-files/vim/bundle/fugitive"]
	path = dot-files/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dot-files/vim/bundle/PIV"]
	path = dot-files/vim/bundle/PIV
	url = https://github.com/spf13/PIV.git
[submodule "dot-files/vim/bundle/neocomplcache"]
	path = dot-files/vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "dot-files/vim/bundle/phpcomplete.vim"]
	path = dot-files/vim/bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "dot-files/vim/bundle/nerdtree"]
	path = dot-files/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot-files/vim/bundle/jsbeautify"]
	path = dot-files/vim/bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "dot-files/vim/bundle/SearchComplete"]
	path = dot-files/vim/bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "dot-files/vim/bundle/Source-Explorer-srcexpl.vim"]
	path = dot-files/vim/bundle/Source-Explorer-srcexpl.vim
	url = https://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
[submodule "dot-files/vim/bundle/tagbar"]
	path = dot-files/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dot-files/vim/bundle/supertab"]
	path = dot-files/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dot-files/vim/bundle/vim-pathogen"]
	path = dot-files/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dot-files/vim/bundle/vcscommand"]
	path = dot-files/vim/bundle/vcscommand
	url = git://github.com/vim-scripts/vcscommand.vim
[submodule "dot-files/vim/bundle/vim-colors-solarized"]
	path = dot-files/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dot-files/vim/bundle/command-t"]
	path = dot-files/vim/bundle/command-t
	url = https://git.wincent.com/command-t.git
[submodule "dot-files/vim/bundle/tagexplorer"]
	path = dot-files/vim/bundle/tagexplorer
	url = https://github.com/vim-scripts/tagexplorer.vim.git
[submodule "dot-files/vim/bundle/vim-fireplace"]
	path = dot-files/vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "dot-files/vim/bundle/vim-clojure-static"]
	path = dot-files/vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "dot-files/vim/bundle/ctrlp.vim"]
	path = dot-files/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dot-files/vim/bundle/vim-go.git"]
	path = dot-files/vim/bundle/vim-go.git
	url = https://github.com/fatih/vim-go.git
